body {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
}

header {
    flex: 0 0 auto; /* O header terá a altura necessária */
}



.pdf-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza absolutamente */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100vh - 100px);
    min-width: 1000px; /* Largura mínima */
}

#pdf-viewer {
    width: 100%;
    height: 100%;
}