
.lst-kix_8cs8juaqttjw-4>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-4
}

.lst-kix_y3el9gnb2e96-5>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-5, lower-roman) ". "
}

.lst-kix_y3el9gnb2e96-4>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-4, lower-latin) ". "
}

.lst-kix_y3el9gnb2e96-6>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-6, decimal) ". "
}

.lst-kix_y3el9gnb2e96-3>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-3, decimal) ". "
}

.lst-kix_y3el9gnb2e96-7>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-7, lower-latin) ". "
}

.lst-kix_j9dzikpr2rjg-8>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-8
}

.lst-kix_rzu5qvpo1tkb-3>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-3
}

.lst-kix_h3drmdjtkyjj-4>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-4
}

.lst-kix_tbqpb4mcnhkd-2>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-2
}

.lst-kix_y3el9gnb2e96-5>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-5
}

.lst-kix_tcdri8qgon0y-7>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-7
}

.lst-kix_wlty68f3xond-0>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-0, decimal) ". "
}

ol.lst-kix_y3el9gnb2e96-6.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-6 0
}

.lst-kix_wlty68f3xond-4>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-4, lower-latin) ". "
}

ol.lst-kix_zflg0bj80f54-7.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-7 0
}

ol.lst-kix_rzu5qvpo1tkb-4.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-4 0
}

ol.lst-kix_zflg0bj80f54-1.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-1 0
}

.lst-kix_wlty68f3xond-5>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-5, lower-roman) ". "
}

.lst-kix_wlty68f3xond-1>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-1, lower-latin) ". "
}

.lst-kix_y3el9gnb2e96-8>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-8, lower-roman) ". "
}

.lst-kix_wlty68f3xond-6>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-6
}

.lst-kix_wlty68f3xond-2>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-2, lower-roman) ". "
}

.lst-kix_wlty68f3xond-3>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-3, decimal) ". "
}

ol.lst-kix_tbqpb4mcnhkd-4.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-4 0
}

ol.lst-kix_wh7g9jxbrayj-3 {
    list-style-type: none
}

ol.lst-kix_wh7g9jxbrayj-4 {
    list-style-type: none
}

ol.lst-kix_wh7g9jxbrayj-5 {
    list-style-type: none
}

ol.lst-kix_wh7g9jxbrayj-6 {
    list-style-type: none
}

.lst-kix_tbqpb4mcnhkd-7>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-7, lower-latin) ". "
}

ol.lst-kix_wh7g9jxbrayj-7 {
    list-style-type: none
}

ol.lst-kix_wh7g9jxbrayj-8 {
    list-style-type: none
}

.lst-kix_wh7g9jxbrayj-0>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-0
}

.lst-kix_wlty68f3xond-8>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-8, lower-roman) ". "
}

.lst-kix_tbqpb4mcnhkd-5>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-5, lower-roman) ". "
}

.lst-kix_tbqpb4mcnhkd-6>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-6, decimal) ". "
}

.lst-kix_wlty68f3xond-6>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-6, decimal) ". "
}

.lst-kix_tbqpb4mcnhkd-4>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-4, lower-latin) ". "
}

ol.lst-kix_wh7g9jxbrayj-0 {
    list-style-type: none
}

ol.lst-kix_wh7g9jxbrayj-1 {
    list-style-type: none
}

.lst-kix_wlty68f3xond-7>li:before {
    content: "" counter(lst-ctn-kix_wlty68f3xond-7, lower-latin) ". "
}

.lst-kix_h3drmdjtkyjj-2>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-2
}

ol.lst-kix_wh7g9jxbrayj-2 {
    list-style-type: none
}

ol.lst-kix_wlty68f3xond-3.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-3 0
}

.lst-kix_tbqpb4mcnhkd-1>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-1, lower-latin) ". "
}

.lst-kix_tbqpb4mcnhkd-2>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-2, lower-roman) ". "
}

ol.lst-kix_j9dzikpr2rjg-8.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-8 0
}

ol.lst-kix_wh7g9jxbrayj-2.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-2 0
}

ol.lst-kix_wh7g9jxbrayj-8.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-8 0
}

.lst-kix_tbqpb4mcnhkd-3>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-3, decimal) ". "
}

ol.lst-kix_h3drmdjtkyjj-3.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-3 0
}

.lst-kix_8cs8juaqttjw-6>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-6
}

.lst-kix_tbqpb4mcnhkd-0>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-0, decimal) ". "
}

ol.lst-kix_tcdri8qgon0y-4.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-4 0
}

.lst-kix_8cs8juaqttjw-0>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-0, decimal) ". "
}

.lst-kix_zflg0bj80f54-5>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-5, lower-roman) ". "
}

.lst-kix_zflg0bj80f54-6>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-6, decimal) ". "
}

.lst-kix_8cs8juaqttjw-1>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-1, lower-latin) ". "
}

.lst-kix_8cs8juaqttjw-2>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-2, lower-roman) ". "
}

.lst-kix_zflg0bj80f54-3>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-3, decimal) ". "
}

.lst-kix_zflg0bj80f54-7>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-7, lower-latin) ". "
}

.lst-kix_zflg0bj80f54-2>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-2
}

.lst-kix_zflg0bj80f54-1>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-1, lower-latin) ". "
}

.lst-kix_zflg0bj80f54-2>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-2, lower-roman) ". "
}

ol.lst-kix_zflg0bj80f54-2.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-2 0
}

.lst-kix_wlty68f3xond-8>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-8
}

.lst-kix_zflg0bj80f54-0>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-0, decimal) ". "
}

.lst-kix_zflg0bj80f54-8>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-8, lower-roman) ". "
}

.lst-kix_tbqpb4mcnhkd-0>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-0
}

.lst-kix_8cs8juaqttjw-7>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-7, lower-latin) ". "
}

.lst-kix_wlty68f3xond-2>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-2
}

.lst-kix_8cs8juaqttjw-6>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-6, decimal) ". "
}

.lst-kix_8cs8juaqttjw-4>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-4, lower-latin) ". "
}

.lst-kix_8cs8juaqttjw-3>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-3, decimal) ". "
}

.lst-kix_8cs8juaqttjw-5>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-5, lower-roman) ". "
}

.lst-kix_zflg0bj80f54-4>li:before {
    content: "" counter(lst-ctn-kix_zflg0bj80f54-4, lower-latin) ". "
}

.lst-kix_tbqpb4mcnhkd-8>li:before {
    content: "" counter(lst-ctn-kix_tbqpb4mcnhkd-8, lower-roman) ". "
}

.lst-kix_8cs8juaqttjw-8>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-8
}

.lst-kix_j9dzikpr2rjg-6>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-6
}

ol.lst-kix_wh7g9jxbrayj-3.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-3 0
}

.lst-kix_8cs8juaqttjw-2>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-2
}

ol.lst-kix_tcdri8qgon0y-3.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-3 0
}

.lst-kix_tbqpb4mcnhkd-6>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-6
}

.lst-kix_8cs8juaqttjw-8>li:before {
    content: "" counter(lst-ctn-kix_8cs8juaqttjw-8, lower-roman) ". "
}

.lst-kix_wh7g9jxbrayj-4>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-4
}

.lst-kix_wh7g9jxbrayj-7>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-7
}

.lst-kix_wh7g9jxbrayj-0>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-0, decimal) ". "
}

.lst-kix_y3el9gnb2e96-3>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-3
}

.lst-kix_wh7g9jxbrayj-7>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-7, lower-latin) ". "
}

ol.lst-kix_wlty68f3xond-7.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-7 0
}

.lst-kix_wh7g9jxbrayj-3>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-3, decimal) ". "
}

.lst-kix_h3drmdjtkyjj-6>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-6, decimal) ". "
}

.lst-kix_tbqpb4mcnhkd-8>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-8
}

.lst-kix_wh7g9jxbrayj-1>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-1, lower-latin) ". "
}

.lst-kix_h3drmdjtkyjj-2>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-2, lower-roman) ". "
}

.lst-kix_h3drmdjtkyjj-4>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-4, lower-latin) ". "
}

ol.lst-kix_h3drmdjtkyjj-7.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-7 0
}

.lst-kix_j9dzikpr2rjg-3>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-3
}

.lst-kix_rzu5qvpo1tkb-8>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-8
}

ol.lst-kix_wh7g9jxbrayj-6.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-6 0
}

ol.lst-kix_j9dzikpr2rjg-7.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-7 0
}

.lst-kix_tbqpb4mcnhkd-7>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-7
}

.lst-kix_h3drmdjtkyjj-0>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-0, decimal) ". "
}

.lst-kix_wh7g9jxbrayj-5>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-5, lower-roman) ". "
}

ol.lst-kix_tcdri8qgon0y-5.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-5 0
}

.lst-kix_tcdri8qgon0y-0>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-0
}

.lst-kix_tcdri8qgon0y-7>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-7, lower-latin) ". "
}

ol.lst-kix_8cs8juaqttjw-5.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-5 0
}

.lst-kix_rzu5qvpo1tkb-7>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-7
}

.lst-kix_j9dzikpr2rjg-8>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-8, lower-roman) ". "
}

.lst-kix_h3drmdjtkyjj-0>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-0
}

ol.lst-kix_tcdri8qgon0y-8.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-8 0
}

.lst-kix_8cs8juaqttjw-0>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-0
}

ol.lst-kix_y3el9gnb2e96-2.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-2 0
}

.lst-kix_j9dzikpr2rjg-6>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-6, decimal) ". "
}

.lst-kix_wh7g9jxbrayj-3>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-3
}

ol.lst-kix_rzu5qvpo1tkb-2.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-2 0
}

ol.lst-kix_tcdri8qgon0y-0 {
    list-style-type: none
}

ol.lst-kix_tcdri8qgon0y-4 {
    list-style-type: none
}

ol.lst-kix_rzu5qvpo1tkb-5.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-5 0
}

ol.lst-kix_tbqpb4mcnhkd-0.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-0 0
}

ol.lst-kix_tcdri8qgon0y-3 {
    list-style-type: none
}

ol.lst-kix_tcdri8qgon0y-2 {
    list-style-type: none
}

.lst-kix_j9dzikpr2rjg-0>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-0, decimal) ". "
}

.lst-kix_j9dzikpr2rjg-4>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-4, lower-latin) ". "
}

ol.lst-kix_zflg0bj80f54-8.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-8 0
}

ol.lst-kix_tcdri8qgon0y-1 {
    list-style-type: none
}

ol.lst-kix_tcdri8qgon0y-8 {
    list-style-type: none
}

ol.lst-kix_tcdri8qgon0y-7 {
    list-style-type: none
}

ol.lst-kix_tcdri8qgon0y-6 {
    list-style-type: none
}

ol.lst-kix_zflg0bj80f54-5.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-5 0
}

ol.lst-kix_tcdri8qgon0y-5 {
    list-style-type: none
}

.lst-kix_h3drmdjtkyjj-8>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-8, lower-roman) ". "
}

ol.lst-kix_8cs8juaqttjw-2.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-2 0
}

.lst-kix_j9dzikpr2rjg-2>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-2, lower-roman) ". "
}

.lst-kix_zflg0bj80f54-4>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-4
}

.lst-kix_j9dzikpr2rjg-5>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-5
}

.lst-kix_wh7g9jxbrayj-2>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-2
}

.lst-kix_8cs8juaqttjw-7>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-7
}

ol.lst-kix_y3el9gnb2e96-1.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-1 0
}

.lst-kix_wh7g9jxbrayj-8>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-8
}

ol.lst-kix_8cs8juaqttjw-4.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-4 0
}

ol.lst-kix_j9dzikpr2rjg-0 {
    list-style-type: none
}

ol.lst-kix_tcdri8qgon0y-7.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-7 0
}

.lst-kix_j9dzikpr2rjg-4>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-4
}

ol.lst-kix_zflg0bj80f54-6.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-6 0
}

.lst-kix_rzu5qvpo1tkb-1>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-1
}

.lst-kix_h3drmdjtkyjj-6>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-6
}

.lst-kix_8cs8juaqttjw-1>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-1
}

.lst-kix_tcdri8qgon0y-5>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-5, lower-roman) ". "
}

.lst-kix_wlty68f3xond-4>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-4
}

.lst-kix_c2wextzd4mqw-5>li:before {
    content: "\0025cf   "
}

.lst-kix_c2wextzd4mqw-7>li:before {
    content: "\0025cf   "
}

.lst-kix_tbqpb4mcnhkd-1>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-1
}

ol.lst-kix_y3el9gnb2e96-0.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-0 0
}

.lst-kix_tcdri8qgon0y-3>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-3, decimal) ". "
}

.lst-kix_tcdri8qgon0y-1>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-1, lower-latin) ". "
}

.lst-kix_zflg0bj80f54-3>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-3
}

ol.lst-kix_8cs8juaqttjw-3.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-3 0
}

ol.lst-kix_wh7g9jxbrayj-7.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-7 0
}

ol.lst-kix_j9dzikpr2rjg-1 {
    list-style-type: none
}

ol.lst-kix_j9dzikpr2rjg-2 {
    list-style-type: none
}

ol.lst-kix_j9dzikpr2rjg-3 {
    list-style-type: none
}

ol.lst-kix_j9dzikpr2rjg-4 {
    list-style-type: none
}

ol.lst-kix_h3drmdjtkyjj-8.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-8 0
}

ol.lst-kix_j9dzikpr2rjg-5 {
    list-style-type: none
}

ol.lst-kix_j9dzikpr2rjg-6 {
    list-style-type: none
}

ol.lst-kix_j9dzikpr2rjg-7 {
    list-style-type: none
}

ol.lst-kix_rzu5qvpo1tkb-3.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-3 0
}

ol.lst-kix_j9dzikpr2rjg-8 {
    list-style-type: none
}

.lst-kix_y3el9gnb2e96-1>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-1, lower-latin) ". "
}

ol.lst-kix_tcdri8qgon0y-6.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-6 0
}

.lst-kix_c2wextzd4mqw-1>li:before {
    content: "\0025cf   "
}

.lst-kix_c2wextzd4mqw-3>li:before {
    content: "\0025cf   "
}

.lst-kix_tcdri8qgon0y-5>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-5
}

ol.lst-kix_wlty68f3xond-8.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-8 0
}

ol.lst-kix_wlty68f3xond-0.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-0 0
}

ol.lst-kix_zflg0bj80f54-4.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-4 0
}

ol.lst-kix_rzu5qvpo1tkb-1.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-1 0
}

.lst-kix_wlty68f3xond-5>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-5
}

.lst-kix_y3el9gnb2e96-4>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-4
}

.lst-kix_j9dzikpr2rjg-7>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-7
}

ol.lst-kix_y3el9gnb2e96-3.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-3 0
}

.lst-kix_h3drmdjtkyjj-3>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-3
}

ol.lst-kix_8cs8juaqttjw-6.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-6 0
}

ol.lst-kix_wlty68f3xond-6.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-6 0
}

ul.lst-kix_c2wextzd4mqw-8 {
    list-style-type: none
}

ul.lst-kix_c2wextzd4mqw-7 {
    list-style-type: none
}

.lst-kix_tcdri8qgon0y-6>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-6
}

.lst-kix_rzu5qvpo1tkb-4>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-4
}

ul.lst-kix_c2wextzd4mqw-0 {
    list-style-type: none
}

ol.lst-kix_h3drmdjtkyjj-0.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-0 0
}

ul.lst-kix_c2wextzd4mqw-2 {
    list-style-type: none
}

ul.lst-kix_c2wextzd4mqw-1 {
    list-style-type: none
}

ul.lst-kix_c2wextzd4mqw-4 {
    list-style-type: none
}

.lst-kix_h3drmdjtkyjj-5>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-5
}

ol.lst-kix_j9dzikpr2rjg-5.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-5 0
}

ul.lst-kix_c2wextzd4mqw-3 {
    list-style-type: none
}

ul.lst-kix_c2wextzd4mqw-6 {
    list-style-type: none
}

ul.lst-kix_c2wextzd4mqw-5 {
    list-style-type: none
}

ol.lst-kix_tbqpb4mcnhkd-7.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-7 0
}

ol.lst-kix_tcdri8qgon0y-1.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-1 0
}

.lst-kix_rzu5qvpo1tkb-2>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-2
}

.lst-kix_zflg0bj80f54-1>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-1
}

.lst-kix_8cs8juaqttjw-3>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-3
}

ol.lst-kix_h3drmdjtkyjj-6.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-6 0
}

ol.lst-kix_wh7g9jxbrayj-5.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-5 0
}

.lst-kix_h3drmdjtkyjj-7>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-7
}

ol.lst-kix_wh7g9jxbrayj-4.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-4 0
}

ol.lst-kix_j9dzikpr2rjg-6.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-6 0
}

ol.lst-kix_rzu5qvpo1tkb-0 {
    list-style-type: none
}

.lst-kix_rzu5qvpo1tkb-0>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-0
}

.lst-kix_wlty68f3xond-3>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-3
}

.lst-kix_tcdri8qgon0y-4>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-4
}

ol.lst-kix_rzu5qvpo1tkb-6.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-6 0
}

ol.lst-kix_wlty68f3xond-5.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-5 0
}

ol.lst-kix_tbqpb4mcnhkd-8.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-8 0
}

.lst-kix_zflg0bj80f54-8>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-8
}

ol.lst-kix_tbqpb4mcnhkd-1.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-1 0
}

.lst-kix_rzu5qvpo1tkb-8>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-8, lower-roman) ". "
}

ol.lst-kix_8cs8juaqttjw-1.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-1 0
}

.lst-kix_j9dzikpr2rjg-0>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-0
}

.lst-kix_rzu5qvpo1tkb-6>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-6, decimal) ". "
}

.lst-kix_rzu5qvpo1tkb-7>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-7, lower-latin) ". "
}

.lst-kix_rzu5qvpo1tkb-4>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-4, lower-latin) ". "
}

.lst-kix_rzu5qvpo1tkb-5>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-5, lower-roman) ". "
}

.lst-kix_rzu5qvpo1tkb-0>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-0, decimal) ". "
}

ol.lst-kix_h3drmdjtkyjj-5.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-5 0
}

ol.lst-kix_rzu5qvpo1tkb-7.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-7 0
}

.lst-kix_rzu5qvpo1tkb-2>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-2, lower-roman) ". "
}

ol.lst-kix_j9dzikpr2rjg-0.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-0 0
}

.lst-kix_rzu5qvpo1tkb-3>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-3, decimal) ". "
}

ol.lst-kix_8cs8juaqttjw-0.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-0 0
}

ol.lst-kix_zflg0bj80f54-3.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-3 0
}

.lst-kix_8cs8juaqttjw-5>li {
    counter-increment: lst-ctn-kix_8cs8juaqttjw-5
}

.lst-kix_rzu5qvpo1tkb-1>li:before {
    content: "" counter(lst-ctn-kix_rzu5qvpo1tkb-1, lower-latin) ". "
}

.lst-kix_tbqpb4mcnhkd-3>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-3
}

ol.lst-kix_8cs8juaqttjw-7.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-7 0
}

.lst-kix_wh7g9jxbrayj-1>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-1
}

.lst-kix_y3el9gnb2e96-0>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-0
}

ol.lst-kix_y3el9gnb2e96-4.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-4 0
}

ol.lst-kix_rzu5qvpo1tkb-5 {
    list-style-type: none
}

ol.lst-kix_rzu5qvpo1tkb-6 {
    list-style-type: none
}

ol.lst-kix_tbqpb4mcnhkd-2.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-2 0
}

ol.lst-kix_rzu5qvpo1tkb-7 {
    list-style-type: none
}

.lst-kix_y3el9gnb2e96-6>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-6
}

ol.lst-kix_rzu5qvpo1tkb-8 {
    list-style-type: none
}

ol.lst-kix_rzu5qvpo1tkb-1 {
    list-style-type: none
}

ol.lst-kix_rzu5qvpo1tkb-2 {
    list-style-type: none
}

.lst-kix_h3drmdjtkyjj-1>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-1
}

ol.lst-kix_rzu5qvpo1tkb-0.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-0 0
}

ol.lst-kix_rzu5qvpo1tkb-3 {
    list-style-type: none
}

.lst-kix_rzu5qvpo1tkb-6>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-6
}

ol.lst-kix_rzu5qvpo1tkb-4 {
    list-style-type: none
}

.lst-kix_j9dzikpr2rjg-2>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-2
}

.lst-kix_wh7g9jxbrayj-6>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-6, decimal) ". "
}

.lst-kix_wh7g9jxbrayj-8>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-8, lower-roman) ". "
}

ol.lst-kix_rzu5qvpo1tkb-8.start {
    counter-reset: lst-ctn-kix_rzu5qvpo1tkb-8 0
}

.lst-kix_zflg0bj80f54-5>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-5
}

.lst-kix_wh7g9jxbrayj-5>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-5
}

.lst-kix_h3drmdjtkyjj-7>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-7, lower-latin) ". "
}

ol.lst-kix_j9dzikpr2rjg-1.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-1 0
}

.lst-kix_wlty68f3xond-0>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-0
}

.lst-kix_wh7g9jxbrayj-2>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-2, lower-roman) ". "
}

ol.lst-kix_tbqpb4mcnhkd-3.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-3 0
}

.lst-kix_tcdri8qgon0y-1>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-1
}

ol.lst-kix_h3drmdjtkyjj-4.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-4 0
}

.lst-kix_h3drmdjtkyjj-5>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-5, lower-roman) ". "
}

ol.lst-kix_h3drmdjtkyjj-0 {
    list-style-type: none
}

ol.lst-kix_h3drmdjtkyjj-1 {
    list-style-type: none
}

ol.lst-kix_h3drmdjtkyjj-2 {
    list-style-type: none
}

ol.lst-kix_h3drmdjtkyjj-3 {
    list-style-type: none
}

ol.lst-kix_h3drmdjtkyjj-4 {
    list-style-type: none
}

ol.lst-kix_h3drmdjtkyjj-5 {
    list-style-type: none
}

ol.lst-kix_tcdri8qgon0y-2.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-2 0
}

.lst-kix_h3drmdjtkyjj-3>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-3, decimal) ". "
}

ol.lst-kix_h3drmdjtkyjj-6 {
    list-style-type: none
}

ol.lst-kix_j9dzikpr2rjg-4.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-4 0
}

ol.lst-kix_h3drmdjtkyjj-7 {
    list-style-type: none
}

ol.lst-kix_h3drmdjtkyjj-8 {
    list-style-type: none
}

.lst-kix_wh7g9jxbrayj-4>li:before {
    content: "" counter(lst-ctn-kix_wh7g9jxbrayj-4, lower-latin) ". "
}

ol.lst-kix_wlty68f3xond-4.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-4 0
}

ol.lst-kix_tbqpb4mcnhkd-6.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-6 0
}

.lst-kix_h3drmdjtkyjj-1>li:before {
    content: "" counter(lst-ctn-kix_h3drmdjtkyjj-1, lower-latin) ". "
}

.lst-kix_tcdri8qgon0y-3>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-3
}

.lst-kix_tcdri8qgon0y-6>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-6, decimal) ". "
}

ol.lst-kix_tbqpb4mcnhkd-7 {
    list-style-type: none
}

ol.lst-kix_tbqpb4mcnhkd-8 {
    list-style-type: none
}

.lst-kix_wh7g9jxbrayj-6>li {
    counter-increment: lst-ctn-kix_wh7g9jxbrayj-6
}

ol.lst-kix_y3el9gnb2e96-5.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-5 0
}

ol.lst-kix_tbqpb4mcnhkd-3 {
    list-style-type: none
}

.lst-kix_j9dzikpr2rjg-7>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-7, lower-latin) ". "
}

ol.lst-kix_tbqpb4mcnhkd-4 {
    list-style-type: none
}

ol.lst-kix_tbqpb4mcnhkd-5 {
    list-style-type: none
}

.lst-kix_tcdri8qgon0y-8>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-8, lower-roman) ". "
}

ol.lst-kix_tbqpb4mcnhkd-6 {
    list-style-type: none
}

ol.lst-kix_tbqpb4mcnhkd-0 {
    list-style-type: none
}

ol.lst-kix_8cs8juaqttjw-8.start {
    counter-reset: lst-ctn-kix_8cs8juaqttjw-8 0
}

ol.lst-kix_tbqpb4mcnhkd-1 {
    list-style-type: none
}

ol.lst-kix_tbqpb4mcnhkd-2 {
    list-style-type: none
}

.lst-kix_j9dzikpr2rjg-3>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-3, decimal) ". "
}

.lst-kix_zflg0bj80f54-7>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-7
}

.lst-kix_j9dzikpr2rjg-1>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-1, lower-latin) ". "
}

.lst-kix_j9dzikpr2rjg-5>li:before {
    content: "" counter(lst-ctn-kix_j9dzikpr2rjg-5, lower-roman) ". "
}

.lst-kix_h3drmdjtkyjj-8>li {
    counter-increment: lst-ctn-kix_h3drmdjtkyjj-8
}

ol.lst-kix_wlty68f3xond-7 {
    list-style-type: none
}

ol.lst-kix_wlty68f3xond-8 {
    list-style-type: none
}

ol.lst-kix_wlty68f3xond-5 {
    list-style-type: none
}

ol.lst-kix_wlty68f3xond-6 {
    list-style-type: none
}

ol.lst-kix_wlty68f3xond-3 {
    list-style-type: none
}

ol.lst-kix_tbqpb4mcnhkd-5.start {
    counter-reset: lst-ctn-kix_tbqpb4mcnhkd-5 0
}

ol.lst-kix_wlty68f3xond-4 {
    list-style-type: none
}

ol.lst-kix_wlty68f3xond-1 {
    list-style-type: none
}

ol.lst-kix_wlty68f3xond-2 {
    list-style-type: none
}

.lst-kix_tbqpb4mcnhkd-5>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-5
}

ol.lst-kix_y3el9gnb2e96-1 {
    list-style-type: none
}

.lst-kix_y3el9gnb2e96-2>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-2
}

ol.lst-kix_y3el9gnb2e96-0 {
    list-style-type: none
}

ol.lst-kix_y3el9gnb2e96-3 {
    list-style-type: none
}

ol.lst-kix_y3el9gnb2e96-2 {
    list-style-type: none
}

.lst-kix_y3el9gnb2e96-7>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-7
}

ol.lst-kix_y3el9gnb2e96-5 {
    list-style-type: none
}

.lst-kix_rzu5qvpo1tkb-5>li {
    counter-increment: lst-ctn-kix_rzu5qvpo1tkb-5
}

ol.lst-kix_y3el9gnb2e96-4 {
    list-style-type: none
}

ol.lst-kix_y3el9gnb2e96-7 {
    list-style-type: none
}

ol.lst-kix_y3el9gnb2e96-6 {
    list-style-type: none
}

ol.lst-kix_wh7g9jxbrayj-1.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-1 0
}

ol.lst-kix_tcdri8qgon0y-0.start {
    counter-reset: lst-ctn-kix_tcdri8qgon0y-0 0
}

ol.lst-kix_y3el9gnb2e96-8 {
    list-style-type: none
}

ol.lst-kix_wlty68f3xond-2.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-2 0
}

ol.lst-kix_j9dzikpr2rjg-2.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-2 0
}

.lst-kix_y3el9gnb2e96-1>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-1
}

ol.lst-kix_wlty68f3xond-0 {
    list-style-type: none
}

.lst-kix_y3el9gnb2e96-8>li {
    counter-increment: lst-ctn-kix_y3el9gnb2e96-8
}

.lst-kix_tbqpb4mcnhkd-4>li {
    counter-increment: lst-ctn-kix_tbqpb4mcnhkd-4
}

ol.lst-kix_y3el9gnb2e96-8.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-8 0
}

ol.lst-kix_h3drmdjtkyjj-2.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-2 0
}

.lst-kix_c2wextzd4mqw-6>li:before {
    content: "\0025cf   "
}

.lst-kix_tcdri8qgon0y-4>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-4, lower-latin) ". "
}

.lst-kix_c2wextzd4mqw-4>li:before {
    content: "\0025cf   "
}

.lst-kix_c2wextzd4mqw-8>li:before {
    content: "\0025cf   "
}

.lst-kix_wlty68f3xond-7>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-7
}

.lst-kix_zflg0bj80f54-6>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-6
}

ol.lst-kix_y3el9gnb2e96-7.start {
    counter-reset: lst-ctn-kix_y3el9gnb2e96-7 0
}

.lst-kix_tcdri8qgon0y-0>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-0, decimal) ". "
}

.lst-kix_tcdri8qgon0y-2>li:before {
    content: "" counter(lst-ctn-kix_tcdri8qgon0y-2, lower-roman) ". "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_j9dzikpr2rjg-1>li {
    counter-increment: lst-ctn-kix_j9dzikpr2rjg-1
}

ol.lst-kix_wlty68f3xond-1.start {
    counter-reset: lst-ctn-kix_wlty68f3xond-1 0
}

.lst-kix_zflg0bj80f54-0>li {
    counter-increment: lst-ctn-kix_zflg0bj80f54-0
}

ol.lst-kix_zflg0bj80f54-6 {
    list-style-type: none
}

ol.lst-kix_zflg0bj80f54-5 {
    list-style-type: none
}

ol.lst-kix_8cs8juaqttjw-8 {
    list-style-type: none
}

ol.lst-kix_zflg0bj80f54-4 {
    list-style-type: none
}

.lst-kix_tcdri8qgon0y-8>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-8
}

ol.lst-kix_8cs8juaqttjw-7 {
    list-style-type: none
}

ol.lst-kix_zflg0bj80f54-3 {
    list-style-type: none
}

.lst-kix_c2wextzd4mqw-0>li:before {
    content: "\0025cf   "
}

ol.lst-kix_h3drmdjtkyjj-1.start {
    counter-reset: lst-ctn-kix_h3drmdjtkyjj-1 0
}

ol.lst-kix_zflg0bj80f54-8 {
    list-style-type: none
}

ol.lst-kix_zflg0bj80f54-7 {
    list-style-type: none
}

ol.lst-kix_8cs8juaqttjw-2 {
    list-style-type: none
}

.lst-kix_c2wextzd4mqw-2>li:before {
    content: "\0025cf   "
}

ol.lst-kix_8cs8juaqttjw-1 {
    list-style-type: none
}

.lst-kix_tcdri8qgon0y-2>li {
    counter-increment: lst-ctn-kix_tcdri8qgon0y-2
}

ol.lst-kix_8cs8juaqttjw-0 {
    list-style-type: none
}

.lst-kix_y3el9gnb2e96-0>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-0, decimal) ". "
}

.lst-kix_y3el9gnb2e96-2>li:before {
    content: "" counter(lst-ctn-kix_y3el9gnb2e96-2, lower-roman) ". "
}

ol.lst-kix_wh7g9jxbrayj-0.start {
    counter-reset: lst-ctn-kix_wh7g9jxbrayj-0 0
}

ol.lst-kix_8cs8juaqttjw-6 {
    list-style-type: none
}

.lst-kix_wlty68f3xond-1>li {
    counter-increment: lst-ctn-kix_wlty68f3xond-1
}

ol.lst-kix_zflg0bj80f54-0.start {
    counter-reset: lst-ctn-kix_zflg0bj80f54-0 0
}

ol.lst-kix_zflg0bj80f54-2 {
    list-style-type: none
}

ol.lst-kix_8cs8juaqttjw-5 {
    list-style-type: none
}

ol.lst-kix_zflg0bj80f54-1 {
    list-style-type: none
}

ol.lst-kix_8cs8juaqttjw-4 {
    list-style-type: none
}

ol.lst-kix_zflg0bj80f54-0 {
    list-style-type: none
}

ol.lst-kix_8cs8juaqttjw-3 {
    list-style-type: none
}

ol.lst-kix_j9dzikpr2rjg-3.start {
    counter-reset: lst-ctn-kix_j9dzikpr2rjg-3 0
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c28 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 451.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c13 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c26 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Calibri";
    font-style: normal
}

.c50 {
    padding-top: 16pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c16 {
    margin-left: 163pt;
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c11 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c10 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c6 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c29 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c44 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c3 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c27 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Arial";
    font-style: normal
}

.c18 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c34 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c20 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c48 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c41 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c33 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c49 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c23 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c2 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    padding-left: 0pt;
    text-align: left
}

.c42 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial"
}

.c39 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-family: "Arial";
    font-style: normal
}

.c45 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal
}

.c30 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c12 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c17 {
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c40 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c43 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c47 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt;
	margin: 0 auto; 
}

.c24 {
    font-size: 14pt;
    font-weight: 700
}

.c25 {
    font-size: 14pt;
    font-style: italic
}

.c36 {
    font-weight: 400;
    font-family: "Calibri"
}

.c51 {
    font-size: 16pt;
    font-style: normal
}

.c4 {
    vertical-align: sub;
    font-size: 14pt
}

.c21 {
    vertical-align: super;
    font-size: 14pt
}

.c37 {
    color: inherit;
    text-decoration: inherit
}

.c32 {
    font-weight: 700;
    font-size: 13pt
}

.c7 {
    padding: 0;
    margin: 0
}

.c22 {
    height: 0pt
}

.c19 {
    margin-left: 36pt
}

.c38 {
    vertical-align: super
}

.c14 {
    height: 11pt
}

.c9 {
    font-size: 12pt
}

.c15 {
    vertical-align: sub
}

.c31 {
    font-size: 14pt
}

.c46 {
    font-weight: 700
}

.c35 {
    margin-left: 18pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}