<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Meu Blog</title>

<link rel="stylesheet" href="./css/contato.css" />


</head>

<body>
	<div th:insert="~{fragments/layouts/header :: headerFragment}"></div>

	<div class="content2">
		<div th:insert="~{fragments/content/pdf :: pdf(pdfUrl=${pdfUrl})}"></div>
	</div>
	<div th:insert="~{fragments/layouts/footer :: footerFragment}"></div>



</body>

</html>