<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>arthur-fb jogos</title>

<link rel="stylesheet" href="./css/content-button.css">


</head>

<body>



	<div th:insert="~{fragments/layouts/header :: headerFragment}"></div>
	<div class="content2">
		<div class="section">
			<a th:href="@{/jogos/best-mate-chess}" class="card"> <img
				src="/img/home/xadrez1.png" alt="Imagem do Portfólio">
				<div class="text">
					<div class="title">Mate promovendo pião para cavalo</div>
					<div class="description">minha partida com um dos mates mais
						dificeis de se fazer no xadrez</div>
				</div>
			</a> <a th:each="link : ${links}" th:href="@{${link.link}}"
				class="card removivel"> <img th:src="${link.image}"
				alt="Imagem do Portfólio">
				<div class="text">
					<div class="title" th:text="${link.title}">Título Padrão</div>
					<div class="description" th:text="${link.description}">Descrição
						Padrão</div>
				</div> <!-- Botão de delete exibido somente se o usuário tiver a role USER -->
				<button th:if="${isUser}" type="button" class="delete-btn"
					style="position: absolute; top: 5px; right: 5px; z-index: 100;"
					onclick="deleteItem(this.closest('a').getAttribute('href'))">x</button>
			</a>
		</div>
	</div>

	<div th:insert="~{fragments/layouts/footer :: footerFragment}"></div>

	<script src="/js/services/form/deletePage.js"></script>
</body>

</html>