<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>arthur-fb</title>

<link rel="stylesheet" href="./css/content-button.css">


</head>

<body>



	<div th:insert="~{fragments/layouts/header :: headerFragment}"></div>

	<div class="content2">
		<div class="section">
			<a th:href="@{/outros/diploma}" class="card"> <img
				src="/img/home/diploma.png" alt="Imagem do Portfólio">
				<div class="text">
					<div class="title">diploma</div>
				</div>
			</a> <a th:href="@{/outros/post}" class="card">
				<img src="/img/home/ckEditor.png" alt="Imagem do Portfólio">
				<div class="text">
					<div class="title">Post</div>

				</div>
			</a><a th:href="@{/s3}" class="card">
				<img src="/img/home/s3.png" alt="Imagem do Portfólio">
				<div class="text">
					<div class="title">aws s3</div>

				</div>
			</a><a th:href="@{/outros/shaders}" class="card"> <img
				src="/img/home/Sombreador.png" alt="Imagem do Portfólio">
				<div class="text">
					<div class="title">SPH shaders</div>

				</div>
			</a>
			<a th:href="@{/test}" class="card">
				<div class="text">
					<div class="title">test</div>

				</div>
			</a>



		</div>
	</div>

	<div th:insert="~{fragments/layouts/footer :: footerFragment}"></div>
</body>

</html>