<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Meu Blog pesquisas</title>

<link rel="stylesheet" href="./css/content-button.css">


</head>

<body>



	<div th:insert="~{fragments/layouts/header :: headerFragment}"></div>

	<div class="content2">
		<div class="section">
			<a th:href="@{/pesquisas/PRV}" class="card"> <img
				src="/img/home/VRP.png" alt="Imagem do Portfólio">
				<div class="text">
					<div class="title">Problema de Roteamento de Veículos
						Dinâmico Aplicado nas Instâncias da LoggiBud</div>
					<div class="description">dissetação sobre o problema de
						roteamento de veículos dinânmico aplica a uma instancia real
						fornecida por uma empresa de entrega</div>
				</div>
			</a> <a th:href="@{/pesquisas/SPH}" class="card"> <img
				src="/img/home/SPH.png" alt="Imagem do Portfólio">
				<div class="text">
					<div class="title">Características de uma Implementação em
						Paralelo do Método SPH com o Uso da Tecnologia de GLSL (OpenGL
						Shading Language)</div>
					<div class="description">Animação e dissetação sobre meu
						estudo e desenvolvimento de uma simulação de fluidos com o método
						SPH (Smoothed-particle hydrodynamics) aplicada a um ambiente em
						2D.</div>
				</div>
			</a>
			<a th:each="link : ${links}" th:href="@{${link.link}}"
				class="card removivel"> <img th:src="${link.image}"
				alt="Imagem do Portfólio">
				<div class="text">
					<div class="title" th:text="${link.title}">Título Padrão</div>
					<div class="description" th:text="${link.description}">Descrição
						Padrão</div>
				</div> <!-- Botão de delete exibido somente se o usuário tiver a role USER -->
				<button th:if="${isUser}" type="button" class="delete-btn"
					style="position: absolute; top: 5px; right: 5px; z-index: 100;"
					onclick="deleteItem(this.closest('a').getAttribute('href'))">x</button>
			</a>
		</div>
	</div>
	<div th:insert="~{fragments/layouts/footer :: footerFragment}"></div>
	
	<script src="/js/services/form/deletePage.js"></script>
</body>

</html>