<!DOCTYPE html>
<html>
<head>
    <title>arthur-fb teste</title>
    <link rel="stylesheet" href="./css/pdf.css">
  <link rel="stylesheet" href="./css/footer.css">
  
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.8/pdfobject.min.js"></script>
</head>
<body>
	
	<div th:insert="~{fragments/layouts/header :: headerFragment}"></div>
	
	<div class="pdf-container-wrapper">
    <div class="pdf-container">
      <div id="pdf-viewer"></div>
    </div>
  </div>
  <div class="content">
    <!-- Conteúdo da página -->
  </div>

  <footer class="site-footer">
    <div class="footer-left">
      <p class="copyright">© Arthur-Prince-de-Almeida</p>
    </div>
    <div class="footer-center">
      <a href="/contact" class="contact-link">Página de Contato</a>
    </div>
    <div class="footer-right">
      <!-- Conteúdo da direita -->
    </div>

  </footer>

  <script>
    const pdfUrl = '/pdfs/PRV.pdf';
    PDFObject.embed(pdfUrl, '#pdf-viewer');
  </script>
</body>
</html>
